<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/master :: head(title='Usuarios')}">
  <title th:text="${title}">Titulo</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="../../static/css/fonts/boxicons.css" />
  <link rel="stylesheet" type="text/css" href="../../static/css/core.css" />
  <link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
  <script src="../../static/js/helpers.js"></script>
  <script src="../../static/js/config.js"></script>
</head>

<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <div th:replace="~{fragments/master :: menu(item='Catalogo',subitem='Socios')}">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo" style="padding-top:6px">
            <a href="index.html" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="../static/images/recycle-icon.svg" height="32" width="32" th:src="@{/images/recycle-icon.svg}"
                  alt="logo">
              </span></a>
          </div>
        </aside>
      </div>
      <div class="layout-page">
        <div th:replace="~{fragments/master :: navbar}"></div>
        <div class="content-wrapper">
          <div class="container-fluid flex-grow-1 container-p-y">
            <!--Todo Content here-->
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Catalogos / Usuarios / </span><span
                th:text="${titulo}"> Agregar</span></h4>
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-4">
                  <div class="dataTables_wrapper">
                    <div class="card-header flex-column flex-md-row">
                      <div class="head-label text-center">
                        <h5 class="card-title mb-0">Captura los datos</h5>
                      </div>
                      <div class="pt-3 pt-md-0">
                        <a class="btn btn-primary me-2" th:href="@{/catalogos/socio/}">Regresar</a>
                      </div>
                    </div>
                  </div>
                  <hr class="my-0" />
                  <div class="card-body">
                    <form id="socioform" method="POST">
                      <div class="row">
                        <div class="mb-3 col-md-6">
                          <label for="name" class="form-label">Nombre</label>
                          <input class="form-control" type="text" id="nombre" name="nombre"
                            th:value="${recuperador.nombre}" />
                          <span class="invalid-data-hidden"> Ingresa un nombre correcto </span>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="apPaterno" class="form-label">Apellido Paterno</label>
                          <input class="form-control" type="text" name="apPaterno" id="apPaterno"
                            th:value="${recuperador.apPaterno}" />
                          <span class="invalid-data-hidden"> Ingresa el dato</span>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="apMaterno" class="form-label">Apellido Materno</label>
                          <input class="form-control" type="text" name="apMaterno" id="apMaterno"
                            th:value="${recuperador.apMaterno}" />
                          <span class="invalid-data-hidden"> Ingresa el dato </span>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="email" class="form-label">E-mail</label>
                          <input class="form-control" type="text" id="email" name="email" value=""
                            placeholder="ejemplo@servidor.com" th:value="${recuperador.email}" />
                          <span class="invalid-data-hidden"> Ingresa un email valido </span>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="telefono" class="form-label">Tel&eacute;fono</label>
                          <input class="form-control" type="text" id="telefono" name="telefono" value=""
                            placeholder="telefono" th:value="${recuperador.telefono}" />
                            <span class="invalid-data-hidden"> Ingresa un tel&eacute;fono valido </span>
                        </div>
                        <div class="mb-3 col-12">
                          <input type="hidden" name="idRecuperador" th:value="${recuperador.idRecuperador}">
                          <button sec:authorize="hasRole('ROLE_ADMIN')" id="update" type="submit" class="btn btn-primary me-2">Actualizar</button>
                          <a href="#" type="reset" class="btn btn-outline-secondary"
                            th:href="@{/catalogos/socio/}">Cancelar</a>
                        </div>
                    </form>
                  </div>
                  <div id="success" class="alert alert-warning d-none" role="alert">
                    Los cambios se han guardado correctamente.
                  </div>
                  <!-- /Account -->
                </div>
              </div>
            </div>
          </div>
          <!-- <footer class="content-footer footer bg-footer-theme"> </footer>-->
        </div>
      </div>
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <div th:replace="~{fragments/master :: jscript}">
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/popper.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <script src="../../static/js/perfect-scrollbar.js"></script>
    <script src="../../static/js/menu.js"></script>
    <script src="../../static/js/main.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </div>
  <script>var NoobtenerRegistros = true; </script>
  <script th:src="@{/js/recuperador_modify.js}"></script>

</body>

</html>