<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/master :: head(title='Sucursales')}"></head>

<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <div th:replace="~{fragments/master :: menu(item='Catalogo',subitem='Sucursales')}"></div>
      <div class="layout-page">
        <div th:replace="~{fragments/master :: navbar}"></div>
        <div class="content-wrapper">
          <div class="container-fluid flex-grow-1 container-p-y">
            <!--Todo Content here-->
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Catalogos /</span> Centros de Acopio</h4>
            <div class="card">
              <div class="dataTables_wrapper">
                <div class="card-header flex-column flex-md-row">
                  <div class="head-label text-center">
                    <button id="nuevo" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalSucursal">
                      <i class="bx bx-plus me-sm-1"></i>
                      <span class="d-none d-sm-inline-block">Nuevo Registro</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title mb-3">Modificar Nombre</h5>
                <form id="materialForm" method="post">
                  <div class="row">
                    <div class="mb-3 col-md-3">
                      <label for="email" class="form-label">Centro de Acopio</label>
                      <select id="sucursalCambio" name="sucursalCambio" class="select2 form-select">
                        <option value="0">Selecciona Sucursal</option>
                        <option value="-1" th:each="sucursal : ${sucursales}" th:value="${sucursal.id}"
                          th:text="${sucursal.nombre}">PMOXSD
                        </option>
                      </select>
                      <span class="invalid-data-hidden"> Selecciona sucursal </span>
                    </div>
                    <div class="mb-3 col-md-2">
                      <label for="nuevoNombre" class="form-label">Nuevo Nombre</label>
                      <input id="nuevoNombre" name="nuevoNombre" type="text" class="form-control">
                      <span class="invalid-data-hidden"> Ingresa un nombre</span>
                    </div>
                    <div class="mb-3 col-12">
                      <button id="update" class="btn btn-primary me-2">Modificar</button>
                    </div>
                  </div>
                  <div id="mensaje" class="alert alert-warning d-none" role="alert">Cambios realizados exitosamente
                  </div>
                </form>
              </div>
              <div class="card-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>N&uacute;mero</th>
                      <th>Nombre</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                    <tr th:each="sucursal : ${sucursales}">
                      <td th:text="${sucursal.id}"></td>
                      <td th:id="'suc_'+${sucursal.id}" th:text="${sucursal.nombre}">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal fade" id="modalSucursal" tabindex="-1" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalCenterTitle">Nueva Sucursal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="row g-2">
                      <div class="col mb-0">
                        <label for="codigo" class="form-label">Nombre</label>
                        <input type="text" id="nuevaSucursal" class="form-control" placeholder="nueva sucursal">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                    <button id="saveSucursal" type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <footer class="content-footer footer bg-footer-theme"> </footer>-->
        </div>
      </div>
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <div th:replace="~{fragments/master :: jscript}">
    <script src="../../static/js/helpers.js"></script>
    <script src="../../static/js/config.js"></script>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/popper.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <script src="../../static/js/perfect-scrollbar.js"></script>
    <script src="../../static/js/menu.js"></script>
    <script src="../../static/js/main.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </div>

  <script>
    function validForm() {
      var resultado = true;
      if ($("#sucursalCambio").val() == 0) {
        $("#sucursalCambio").addClass("invalid-data").next().addClass("invalid-data-labl");
        resultado = false;
      } else {
        $("#sucursalCambio").removeClass("invalid-data").next().removeClass("invalid-data-labl")
      }

      if ($("#nuevoNombre").val().length == 0) {
        $("#nuevoNombre").addClass("invalid-data").next().addClass("invalid-data-labl");
        resultado = false;
      } else {
        $("#nuevoNombre").removeClass("invalid-data").next().removeClass("invalid-data-labl")
      }
      return resultado;
    }

    $("#update").on("click", function (e) {
      $("#mensaje").addClass("d-none");
      if (validForm()) {
        $.post($("#path").val() + "catalogos/sucursal/update", { idSucursal: $("#sucursalCambio").val(), nombre: $("#nuevoNombre").val() })
          .done(function (data) {
            if (data) {
              //window.location.href = $("#path").val() + "catalogos/usuario/";
              $("#suc_" + $("#sucursalCambio").val()).html($("#nuevoNombre").val());
              $("#mensaje").removeClass("d-none");
            } else {
              alert("ocurrio un error")
            }
          });
      }
      e.preventDefault();
    });

    $("#saveSucursal").on("click", function () {
      $.post($("#path").val() + "catalogos/sucursal/insert", { nombre: $("#nuevaSucursal").val()})
        .done(function (data) {
          if(data){
            window.location.reload();
          }
        });
    })
  </script>

</body>

</html>