<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Not Found</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/core.css" th:href="@{/css/core.css}" />
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>

<body>
    <div class="mainError">
        <div class="contError">
            <div class="numError">404</div>
            <div class="lblError">Not Found</div>
        </div>
    </div>
</body>

</html>